.nav-container{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.button{
    color: #ffff;
    background-color: blue;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}